@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";
.container {
    color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    height: fit-content;
    background-color: rgb(162, 162, 162);//rgb(102, 98, 98);
    border: 1px ridge rgb(27, 27, 27);
    section {
        padding: 40px 25px 40px 25px;
        div.col-md-4 {
            // IMAGE SECTION
            padding-top: 30px;
            overflow: hidden;
        }
        p {
            padding-top: 10px;
        }
        h1 {
            margin-bottom: 20px;
            font-size: 35px;
            padding-bottom: 15px;
            &::after { // BORDER UNDER TITLE
                content: "";
                text-align: center;
                display: block;
                margin: 0 auto;
                /* This will center the border. */
                width: 75%;
                padding-top: 20px;
                border-bottom: 1px solid black;
            }
            &.titre-left {
                @include media-breakpoint-up(md) {
                    &::after {
                        float: left;
                    }
                }
            }
            &.titre-right {
                // min-width: 100%;
                @include media-breakpoint-up(md) {
                    width: fit-content;
                    text-align: right;
                    &::after {
                        float: right;
                    }
                }
            }
        }
    }
    button {
        margin-bottom: 30px;
    }
}