<app-header></app-header>

<div class="container rounded">
    <section class="presentation-section">
        <div class="row">
            <div class="col-md-8 text-center text-md-left">
                <div class="d-md-flex justify-content-md-start">
                    <h1 class="titre-left">L'entreprise PRD Déco</h1>
                </div>
                <p>
                    Fort de ses 25 années d’expérience, David RATEAU crée en 2007 l’entreprise PRD Déco,
                    spécialisée en peinture, décoration et revêtements sol et mur.
                </p>
            </div>
            <div class="col-md-4 text-center float-md-right">
                <img src="./assets/img/logo-maitre-artisan.png" height="150">
            </div>
        </div>
    </section>

    <section class="expertise-section">
        <div class="row">
            <div class="col-md-4 text-center float-md-left d-none d-md-block">
                <img src="./assets/img-expertise-300x196.jpg" alt="">
            </div>
            <div class="col-md-8 text-center text-md-right">
                <div class="d-md-flex justify-content-md-end">
                    <h1 class="titre-right"> Expertise & Savoir-faire</h1>
                </div>
                <p>
                    L’entreprise PRD Déco met à disposition des particuliers et des professionnels son expertise et
                    son savoir-faire.
                </p>
            </div>
            <div class="col-md-4 text-center float-md-left d-block d-md-none">
                <img src="./assets/img-expertise-300x196.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="accompagnement-section">
        <div class="row">
            <div class="col-md-8 text-center text-md-left">
                <div class="d-md-flex justify-content-md-start">
                    <h1 class="titre-left"> Conseil & Accompagnement </h1>
                </div>
                <p>
                    A l’écoute de ses clients, David RATEAU et son équipe vous accompagnent par leurs conseils et
                    vous orientent vers les meilleures solutions.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img src="http://www.mairie-mouilleronlecaptif.fr/medias/2017/06/peinture-2.jpg" height="150" width="300"
                    alt="">
            </div>
        </div>
    </section>

    <section class="exigence-section">
        <div class="row">
            <div class="col-md-4 text-center d-none d-md-block">
                <img src="./assets/img-resize.png" height="150" width="300" alt="">
            </div>
            <div class="col-md-8 text-center text-md-right">
                <div class="d-md-flex justify-content-md-end">
                    <h1 class="titre-right"> Exigence & Qualité </h1>
                </div>
                <p>
                    Que vous souhaitiez réaliser des travaux d’intérieur ou d’extérieur, l’entreprise PRD Déco vous
                    garantit un travail soigné et un résultat de qualité à la hauteur de vos exigences.
                </p>
            </div>
            <div class="col-md-4 text-center d-block d-md-none">
                <img src="./assets/img-resize.png" height="150" width="300" alt="">
            </div>
        </div>
    </section>

    <div class="row justify-content-center">
        <h2 class="col-12 text-center mb-4"> Nous faisons de la satisfaction client, notre priorité.</h2>
        <button type="button" class="btn btn-warning">
            <i class="fas fa-file-signature"></i>
            Demander un devis gratuit
        </button>
    </div>
</div>