<div class="container-fluid">
  <div class="row footer-top bg-secondary">
    <div class="col-sm-4 text-center">
      <img src="assets\img\logo@0,25x.png" class="logo" alt="logo PRD DECO">
      <h5 class="ft-text-title">
        Artisan peintre
      </h5>
      <h5 class="ft-text-title">
        Bordeaux
      </h5>
    </div>
    <div class="col-sm-4 text-center border-left">
      <h4 class="ft-text-title">À propos</h4>
      <div class="address-member">
        <a class="page-links">
          Accueil
        </a> <br>
        <a class="page-links">
          Prestations
        </a><br>
        <a class="page-links">
          Réalisations
        </a><br>
        <a class="page-links">
          Partenaires
        </a><br>
        <a class="page-links">
          Contact
        </a><br> <br>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12 text-center border-left">
      <h4 class="ft-text-title">Contact</h4>
      <div class="footer-links">
        <p class="mb-4">
          <a class="contact" href="tel:+33686349225">
            <i class="fa fa-phone" aria-hidden="true"></i>
            06 86 34 92 25
          </a>
        </p>
        <p>
          <a href="mailto:david.rateau@orange.fr" class="mail">david.rateau@orange.fr</a>
        </p>
        <!-- <br> -->
        <!-- <br> -->
        <!-- <br><br> -->
      </div>
    </div>
  </div>
</div>