<div class="header-section justify-content-end">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <h1>Embéllissez, Rénovez, Réalisez..</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="subtitle col-md-6">
      <p>Des travaux ? Un Projet ?</p>
      <p>Discutons ensemble de la meilleure manière de mener à bien votre projet !</p>
    </div>
  </div>

  <div class="row justify-content-center mt-sm-5 mt-md-3 cta-row">
    <div>
      <div class="wrap col-xs-12 col-sm-6 d-inline">
        <button class="btn button btn-info mr-md-5" (click)="onClickSavoirPlusButton()">
          <span>
            <i class="fas fa-info-circle"></i>
            En savoir +
          </span>
        </button>
      </div>
      <div class="wrap col-xs-12 col-md-6 d-inline text-center">
        <button class="btn button btn-warning" (click)="onClickContactButton()">
          <span>
            <i class="fas fa-headset"></i>
            Nous contacter
          </span>
        </button>
      </div>
    </div>
  </div>
</div>