<div class="header-section justify-content-end">
  <div class="row justify-content-center">
    <h1 class="col-12">
      Embéllissez, Rénovez, Réalisez..
    </h1>
  </div>
  <div class="row justify-content-center">
    <div class="subtitle col-md-6">
      <!-- col-sm-12 col-md-6 offset-md-6  -->
      <p>Des travaux ? Un Projet ?</p>
      <p>Discutons ensemble de la meilleure manière de mener à bien votre projet !</p>
    </div>
  </div>

  <div class="row justify-content-center mt-sm-5 mt-md-3 cta-row">
    <div class="">
      <div class="wrap d-inline">
        <button class="btn button btn-info mr-5" (click)="onClickSavoirPlusButton()">
          En savoir +
        </button>
      </div>
      <div class="wrap d-inline text-center">
        <button class="btn button btn-warning" (click)="onClickContactButton()">Nous contacter</button>
      </div>
    </div>
  </div>
</div>