.row-block-infos {
    div.block-infos {
        /** TRANSITION EFFECT **/
        // width: 100px;
        // height: 100px;
        // background-color: #111;
        // -webkit-transition: -webkit-transform .8s ease-in-out;
        // -ms-transition: -ms-transform .8s ease-in-out;
        // transition: transform .8s ease-in-out;  

        padding: 2%;
        height: 25vh;
        justify-content: center;
        border-right: #ccd1da 1px ridge;
        border-bottom: #ccd1da 1px ridge;
        background-color: #e3e8f1;
        .svg-block img {
            height: 7vh;
        }
        .label-block-infos {
            font-size: 120%;
        }
    }

    div.block-infos:hover {
        .svg-block img {
            height: 9vh;
        }
        .label-block-infos {
            font-size: 140%;
            font-weight: bold;
            color: #530f6e;
        }
    }
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;

    .contact-form h2 {
        // font-size: 46px;
        margin-bottom: 30px;
        // margin-top: -10%;
        text-align: center;
        color: #0062cc;
    }
    .button-contact
    {
        border-radius: 1rem;
        padding: 5px;
        margin-right: 20px;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    textarea {
        height: 150px;
    }
}

// .contact-image {
//     height: 150px;
//     width: 150px;
//     img {

//         height: 150px;
//     }
// }
// .contact-form{
//     background: #fff;
//     margin-top: 5%;
//     margin-bottom: 5%;
// }
// .contact-form .form-control{
//     border-radius:1rem;
// }
// .contact-form form{
//     padding: 14%;
// }
// .contact-form form .row{
//     margin-bottom: -7%;
// }
