<!-- HEADER -->
<div class="header-section justify-content-end">
  <div class="row justify-content-center">
    <h1 class="col-12">
      Nous contacter
    </h1>
  </div>
  <div class="row justify-content-center">
    <div class="subtitle col-md-6">
      <p> Besoin d'informations, d'un devis gratuit ? Contactez-nous et nous reviendrons vers vous au plus vite !</p>
    </div>
  </div>
</div>

<!-- CONTENT -->
<div class="container rounded contact-form shadow-md bg-white rounded">
  <div class="row content pt-5">
    <!-- BLOCK FORM LEFT -->
    <div class="contact-form-block col-md-8 pr-md-4">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <input type="text" name="txtFirstName" class="form-control" placeholder="Votre prénom *" value="" />
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <input type="text" name="txtLastName" class="form-control" placeholder="Votre nom *" value="" />
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <input type="email" name="txtEmail" class="form-control" placeholder="Votre email *" value="" />
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <input type="text" name="txtPhone" class="form-control" placeholder="Votre numéro de téléphone *" value="" />
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <textarea class="form-control" placeholder="Votre message *"></textarea>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="form-group">
          <!-- <button type="button" outline class="button-contact btn-info mt-3"> Envoyer le message </button> -->
          <button type="button" class="btn button-contact btn-outline-primary mt-3">Envoyer </button>
        </div>
      </div>
    </div>

    <!-- BLOCK INFOS RIGHT -->
    <div class="contact-infos col-md-4 pl-md-4">
      <div class="row">
        <div class="col-12 text-center mb-4">
          <h4>David RATEAU</h4>
        </div>

        <div class="address col-12">
          <div class="col-3 icon">
            <i class="fas fa-map-marked-alt"></i>
          </div>
          <div class="col-9 infos">
            <span>
              275 chemin Cantelaudet
            </span>
            <br>
            <span>
              33240 LALANDE DE FRONSAC
            </span>
          </div>
        </div>
        <div class="phone col-12">
          <div class="col-3 icon">
            <i class="fas fa-phone-volume"></i>
          </div>
          <div class="col-9 infos">
            <span>
              06 86 34 92 25
            </span>
          </div>
        </div>
        <div class="mail col-12">
          <div class="col-3 icon">
            <i class="far fa-envelope"></i>
          </div>
          <div class="col-9 infos">
            <span>
              david.rateau@orange.fr
            </span>
          </div>
        </div>
        <div class="horaires col-12">
          <div class="col-3 icon">
            <i class="far fa-clock"></i>
          </div>
          <div class="col-9 infos">
            <span> Lundi - Vendredi</span>
            <br>
            <span> 8h - 12h / 14h - 18h</span>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>