<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container">
    <a class="navbar-brand" href="#">P.R.D DECO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse row justify-content-center" id="navbarTogglerDemo02">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" rel="noopener" routerLink="/realisations">Réalisations</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" rel="noopener" routerLink="/prestations">Prestations</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" rel="noopener" routerLink="/partenaires">Nos partenaires</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" rel="noopener" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>