.header-section {
    /*** Height & Image background ***/
    height: fit-content;
    padding: 10px;
    max-width: 100vw;
    // PROD \\
    // background-image: linear-gradient(rgba(70, 70, 70, 0.75), rgba(70, 70, 70, 0.45)), url("/prd-deco2/assets/img-banniere2.jpg") !important;
    // DEV \\
    background-image: linear-gradient(rgba(70, 70, 70, 0.75), rgba(70, 70, 70, 0.45)), url("/assets/img-banniere2.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 10px 15px 0px rgba(92, 92, 92, 0.3);
    -webkit-box-shadow: 0 10px 15px 0px rgba(92, 92, 92, 0.3);
    -moz-box-shadow: 0 10px 15px 0px rgba(92, 92, 92, 0.3);
    /*****/
    text-align: center;
    padding-top: 30px;
    h1,
    p {
        color: #fff; // color: rgba(255, 253, 253, 0.884);
    }
    .subtitle {
        padding-top: 20px;
    }
    p {
        font-size: 20px;
        font-weight: bold;
    }
}

.container {
    ngx-image-gallery {
        background-color: transparent !important;;
    }




    margin-top: 70px;
    .filter-tab,
    .project-holder {
        position: relative;
        text-align: center;
        display: block;
    }
    .filter-tab .filter-btn {
        background-color: transparent;
        border-radius: 4px;
    }
    .filter-btn {
        font-weight: 600;
        // color: #637282;
        color: #fff;
    }
    .filter-tab .filter-btn:hover,
    .filter-tab .filter-btn:active,
    .filter-tab .filter-btn.active {
        background-color: #fa6262;
        color: #fff;
        box-shadow: 0 8px 25px rgba(250, 98, 98, 0.55);
    }
    &.gallery-container {
        background-color: #375D81;
        color: #35373a;
        min-height: 100vh;
        border-radius: 20px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    }
    .tz-gallery {
        padding: 40px;
    }
    .tz-gallery .lightbox img {
        width: 100%;
        margin-bottom: 30px;
        transition: 0.2s ease-in-out;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    }
    .tz-gallery .lightbox img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    }
    .tz-gallery img {
        border-radius: 4px;
    }
    .baguetteBox-button {
        background-color: transparent !important;
    }
}