<!-- HEADER -->
<div class="header-section justify-content-end">
  <div class="row justify-content-center">
    <h1 class="col-12">
      Nos Prestations
    </h1>
  </div>
  <!-- <div class="row justify-content-center">
    <div class="subtitle col-md-6">
      <p> Besoin d'informations, d'un devis gratuit ? Contactez-nous et nous reviendrons vers vous au plus vite !</p>
    </div>
  </div> -->
</div>

<div class="container">
  <div class="row">

    <div class="presta-interieur-container col-md-6">
      <h1 class="text-center">
        Intérieur
      </h1>
      <ul class="presta-interieur-list">
        <li class="presta-interieur-item">
          Peinture :
          <span class="presta-item-detail">
            Acrylique ou Glycéro, tous types de support (murs, plafond, boiserie…)
          </span>
        </li>
        <li class="presta-interieur-item">
          Produits décoratifs :
          <span class="presta-item-detail">
            Chaux ferrée, badigeaon, stucco, béton ciré, peintures à effets…
          </span>
        </li>
        <li class="presta-interieur-item">
          Revêtements muraux :
          <span class="presta-item-detail">
            Papier peint, toile de verre..
          </span>
        </li>
        <li class="presta-interieur-item">
          Revêtements de sols :
          <span class="presta-item-detail">
            Parquet flottant, moquette, lame et dalle PVC..
          </span>
        </li>
      </ul>
    </div>
    <div class="presta-exterieur-container col-md-6">
      <h1 class="text-center"> Extérieur</h1>
      <ul class="presta-exterieur-list">
        <li class="presta-exterieur-item">Peinture :
          <span class="presta-item-detail">
            Acrylique ou Glycéro, tous types de support (façade, boiserie,
            ferronnerie, métallerie…)
          </span>
        </li>
        <li class="presta-exterieur-item">Isolation Thermique</li>
      </ul>
    </div>
    <div class="plus-container col-12">
      <h1 class="text-center">PRD Deco c'est aussi :</h1>
      <div class="row">
        <div class="plus-item col-md-4 d-flex justify-content-center">
          <div class="text-center">
            <img src="./assets/img/prestations/devis-gratuit.png" width="150" alt="Devis gratuit artisan peintre bordeaux">
            <p>
              Devis gratuit
            </p>
          </div>
        </div>
        <div class="plus-item col-md-4 d-flex justify-content-center">
          <div class="text-center">
            <img src="./assets/img/prestations/nuancier.png" width="140" alt="Aide choix couleur artisan peintre bordeaux">
            <p>
              Outil d'aide au choix des couleurs
            </p>
          </div>
        </div>
        <div class="plus-item col-md-4 d-flex justify-content-center">
          <div class="text-center">
            <img src="./assets/img/prestations/handshake.png" width="120" alt="Respect délais et budget artisan peintre bordeaux">
            <p>
              Respect des délais et du budget
            </p>
          </div>
        </div>
        <div class="plus-item col-md-4 offset-md-2 d-flex justify-content-center">
          <div class="text-center">
            <img src="./assets/img/prestations/nettoyage.png" width="130" alt="Nettoyage chantier quotidien artisan peintre bordeaux">
            <p>
              Nettoyage quotidien et en fin de chantier
            </p>
          </div>
        </div>
        <div class="plus-item col-md-4 d-flex justify-content-center">
          <div class="text-center">
            <img src="./assets/img/prestations/garantie-decennale.png" width="120" alt="Garantie décennale artisan peintre bordeaux">
            <p>
              Assistance technique,
              Garantie Décennale & responsabilité civile
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>