@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";
/* You can add global styles to this file, and also import other style files */

body {
    // background-color: #C4D7ED;  BLUE
    background-color: #ececec;
    .container {
        background-color: #a2a2a2;
    }
}

p,
h3,
h4 {
    font-family: 'Nanum Gothic', sans-serif;
}

h1,
h2 {
    font-family: 'Charm', cursive;
}

/****************/

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
}

.main-container {
    min-height: 100vh;
    /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    /* height of your footer */
    padding-bottom: 250px;
    @include media-breakpoint-down(xs) {
        padding-bottom: 550px;
    }
}

app-footer {
    position: absolute;
    bottom: 0 !important;
    width: 100%;
}